h1{
    width: 60%;
    margin: 5% auto;
    text-align: center;
}

body{
    background: lightskyblue;
}

main{
    width: 60%;
    margin: 5% auto;
    background: lightgrey;
}

article{
    margin: 1% auto;
    border: solid grey 2px;
    width: 60%;
    background: white;
}

article > h3{
    font-size: 2em;
}

article:hover{
    background: lightpink;
}

article:hover > h3{
    color:#1940A9;
}