body{
    background-color: lightgray;
}

h1{
    color: red;
    text-align: center;
}

.greeting{
  height: 100px;
  text-align: left;
}

h3{
    text-align: center;
}

/* The grid for the entire page below the horizontal break. */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

/* Calc widget. */
.calbig {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: blue;
  height: 350px;
}

button{
  text-align: center;
  margin: 3px;
}

/* ToDo list widget. */
.todobig{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  background-color: pink;
  height: 400px;
}

.input{
  margin: 3px;
  background-color: white;
}

.todo{
  height: 50px;
  width: 50px;
}

/* Clock and Calendar widget. */
.clockbig{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: 50% 50%;
  background-color: greenyellow;
  height: 200px;
  width: 250px;
  padding: 10px;
}

h2{
  text-align: center;
}


  