h1{
    width: 60%;
    margin: 5% auto;
    text-align: center;
    font-family:fantasy;
}

body{
    background: lightsteelblue;
}

main{
    width: 60%;
    margin: 5% auto;
    background: lightgrey;
}

article{
    font-family: cursive;
    font-weight: lighter;
    margin: 1% auto;
    border: solid grey 2px;
    width: 60%;
    background: white;
}

article > h3{
    font-family: cursive;
    font-weight: bold;
    font-size: 2em;
}

article:hover{
    background: beige;
}

article:hover > h3{
    color:#1940A9;
}
