body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
}

.body .content img{
    width: auto;
}

header{
    padding: 20px 0;
    position: relative;
    width: 100%;
    text-align: center;
}

ul{
    list-style: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}

li{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: 49px;
    line-height: 49px;
    padding: 0 15px;
    text-align: left;
}

.featured{
    margin: 0 0 13px;
    position: relative;
    width: 100%;
}

h2{
    background-color: white;
    color: black;
    display: inline-block;
    font-family: fantasy;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

span{
    font-family: fantasy;
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 20px;
    margin: 7px 0;
    padding: 12px 27px;
}

.RMbutton{
    font-family: fantasy;
    background-color: #0ba39c;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0 0;
    padding: 26px, 27px, 22px;
    text-align: center;
    text-transform: uppercase;
}

.stacked{
    display: block;
    left: 50%;
    margin-left: -480px;
    margin-top: -171px;
    padding: 0 0 0 470px;
    position: absolute;
    top: 50%;
    text-align: left;
    width: 490px;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: disc;
    
}

ul li img{
    border: 2px solid black;
    display: block;
    margin: 0;
    padding: 0;
    height: 300px;
    width: 300px;
}

.footer{
    background: black;
    margin: 0px;
    padding: 36px 0 42px;
}

.message{
    display: block;
}